{% extends 'base/base.html' %}

{% load static %}

{% block 'title' %} Change Email {% endblock %} 

{% block 'head' %}
<link href="{% static 'css/frontend.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet"> 

{% endblock %}

{% block 'body' %}

<!DOCTYPE html>
<html>
<head>
    <title>Alterar Password</title>
</head>
<body>
<div class="change">
    <h1>Alterar Password</h1>
    <form method="post">
      {% csrf_token %}
      <label for="new_password">Nova Password</label>
      <input type="password" id="new_password" name="new_password" required>
      <br>
      <input type="submit" value="Alterar Password">
    </form>
</body>
</html>

{% endblock %}